

services:
  # 1. SEARCH ENGINE (Custom Build with Phonetic Plugin)
  opensearch:
    build: ./opensearch_custom
    container_name: sentin-opensearch
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=StrongP@ssw0rd!
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9200:9200"
    networks:
      - compliance-net

  # 2. CACHE
  redis:
    image: redis:alpine
    container_name: sentin-redis
    ports:
      - "6379:6379"
    networks:
      - compliance-net

  # 3. API (Go Microservice)
  api:
    build: ./api
    container_name: sentin-api
    ports:
      - "8080:8080"
    environment:
      - OPENSEARCH_URL=https://admin:StrongP@ssw0rd!@opensearch:9200
      - REDIS_ADDR=redis:6379
    depends_on:
      - opensearch
      - redis
    networks:
      - compliance-net

  # 4. AIRFLOW (Custom Build with opensearch-py)
  postgres:
    image: postgres:13
    container_name: sentin-airflow-db
    environment:
      - POSTGRES_USER=airflow
      - POSTGRES_PASSWORD=airflow
      - POSTGRES_DB=airflow
    networks:
      - compliance-net

  airflow-init:
    build: ./airflow_custom
    
    environment:
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
    depends_on:
      - postgres
    entrypoint: /bin/bash
    # This command initializes the DB and creates the admin user
    command: >
      -c "airflow db migrate &&
          airflow users create --username admin --password admin --firstname Admin --lastname User --role Admin --email admin@example.com"
    networks:
      - compliance-net

  airflow-scheduler:
    build: ./airflow_custom
    container_name: sentin-airflow-scheduler
    restart: always
    depends_on:
      airflow-init:
        condition: service_completed_successfully
    environment:
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
    volumes:
      - ./dags:/opt/airflow/dags
    command: scheduler
    networks:
      - compliance-net

  airflow-webserver:
    build: ./airflow_custom
    container_name: sentin-airflow
    restart: always
    depends_on:
      airflow-init:
        condition: service_completed_successfully
    environment:
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
    volumes:
      - ./dags:/opt/airflow/dags
    ports:
      - "8081:8080"
    command: webserver
    networks:
      - compliance-net

networks:
  compliance-net:
    driver: bridge